[defaults]
# Specify the inventory file
inventory = ./inventory/hosts.yml
host_vars_inventory = inventory/host_vars
group_vars_inventory = inventory/group_vars
roles_path = ./roles
# verbosity = 2
[privilege_escalation]
become_method = sudo
become = True
[persistent_connection]
# Controls how long the persistent connection will remain idle before it is destroyed
connect_timeout=30

# Controls the amount of time to wait for response from remote device before timing out persistent connection
command_timeout=30
